.menu-burguer-container{
    position: absolute;
    display: none;
    align-items: center;
    top: 30px;
    right: 30px;
    height: 36px;
    width: 36px;
    z-index: 2;
}

.menu-burguer,
.menu-burguer::before,
.menu-burguer::after{
    position: absolute;
    content: "";
    display: block;
    background-color: #fff;
    height: 4px;
    width: 36px;
    border-radius: 5px;
}

.menu-burguer::before{
    transform: translatey(-12px)
}

.menu-burguer::after{
    transform: translatey(12px)
}

.menu-burguer-container.active .menu-burguer{
    background-color: transparent;
}

.menu-burguer-container.active .menu-burguer::before{
    transform: rotate(45deg);
}
.menu-burguer-container.active .menu-burguer::after{
    transform: rotate(-45deg);
}

@media(max-width:768px){
    .menu-burguer-container{
        display: flex;
    }
}